.ctitle{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border-bottom: 2px dashed white; */
    
  
}

.form-title {
    color: #34495e;
    font-size: 70px;
    margin-top: 90px;
    
}

#form-container {
display: flex;
justify-content: center;
margin: 4% 0;

}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 100px 100px 100px;
    justify-content: center;
    border: 1px solid #db7093;
    border-radius: 150px;
    text-decoration: none;
    background-color: #34495E;
}

.form textarea {
    border-radius: 20px;
}

label{
    font-size: 50px;
    text-align: center;
}

.form-control {
    position: relative;
    height: auto;
    padding: 20px 15px;
    font-size: 15px;
    background-color: white;
    border: 2px solid #34495E;
}

#Name {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    text-align: center;
}

#Phone {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    text-align: center;
}

#Email {
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 20px;
    text-align: center;
}

#Message {
    margin-top: 15px;
    margin-bottom: 35px;
    resize: none;
    text-align: center;
    font-family: "Roboto", sans-serif;

}

.form-button {
    width: 100%;
    margin: 0 auto;
    color: black;
    font-size: 14px;
    padding: 28px 40px 25px;
    text-align: center;
    border-radius: 25px;
    text-transform: uppercase;
    background-color: #db7093;
    border: 1px solid #34495E;

}


.info {
    display: flex;
    justify-content: center;
}

.contact-info {
    background-color: #34495E;
    border-radius: 20px;
    margin-bottom: 70px;
    border: 1px solid #db7093;
    max-width: 500px;
    padding: 20px;
}

.c-email {
    color: #db7093;
    text-align: center;
    padding-top: 10px;
}

.linkedin {
   margin-top: 15px;
}

.icons {
 display: flex;
 justify-content: center;
}